:root{
    --color:#2cafe1;
    --text:#6A4B2F;
    --adore:rgb(253, 83, 61);
    --border:#dbdbdb;
}
*{
    box-sizing:inherit;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    line-height:1.6rem;
    font-family:verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    box-sizing: border-box;
}
.wraper{
    width:1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

}
body{
    background-color:white;
}
/* cai dat cho header  */

.header{
    display: flex;
    justify-content:space-around;
}

.header_logo{
    display: flex;
}
.header a{
    color: var(--text);
    text-decoration: none;
}
.header_logo img{
    width:70px;
    height:70px
}
.header_logo-name {
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    color:var(--color)
}

.header_info {
    color: var(--color);
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tel span{
    font-size: 1.8rem;
    color:rgb(253, 83, 61);
}
@keyframes text_transform {
    from{
        color:var(--color);
    }
    to{
        color:var(--adore)
    }
}
.open{
animation: text_transform 1s ;
animation-iteration-count: infinite;
}
.header_navigation ul{
    list-style: none;
    display: flex;
 justify-content: center;
    font-size:1.9rem;
    background-color: #00bac6;
    height:50px;
    padding-left: 30px;

}

.header_navigation li:first-child{
    font-size: 2.2rem;
    text-transform: uppercase;
}
.header_navigation li{
    margin:0 60px; 
}

.header_navigation a{
    display: block;
    line-height: 50px;
    text-decoration:none;
    color:white;
    padding: 0 20px;
    
}
.header_navigation a:hover{
    opacity: 0.8;
}
    /* cai dat cho men */
.main_welcome p{
    text-align: justify;
    padding: 10px;
}
.main_welcome{
    height: 450px;
}
.main_welcome_img{
text-align: center;
}
.main_content{
    display: flex;
    font-size: 1.6rem;
    text-align: justify;
    width: 1200px;
    margin: 0 auto;
}
.main_content_img img{
    width:600px;
}
.main_content_text{
    padding:70px 50px 0

}
.main_content_text h1{
    color:var(--color);
    line-height: 35px;
    margin-bottom:20px;
    margin-left:10px;
   
}
.main_content_text p{
    color: var(--text);
    text-align: justify;
    line-height: 30px;
    font-size: 1.7rem;
}
.main_content{
    margin:0 auto 0;
    /* background:#f8f9fb; */
    border-bottom:2px solid var(--border);
    border-top:2px solid var(--border);
    padding-bottom:50px;
    padding-top:25px;
    margin-top:25px;
}
.main_content_gioithieu{
    padding:20px 0;
    width: 1200px;
    margin: 0 auto;
}
.main_content_gioithieu_text h2{
    color: var(--color);
    font-size: 25px;
    text-align: center;
}
.main_content_gioithieu_text p{
    text-align: justify;
    font-size: 1.7rem;
    margin-top:20px;
    line-height:30px;
}
.main_content_gioithieu_list1{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.main_content_gioithieu_list1 a{
    text-decoration: none;
    color:var(--text);

}
.main_content_gioithieu_img img{
    width: 390px;
    height:250px;
}
.main_content_gioithieu_item{
    width: 400px;
    box-shadow: 0 0px 3px #333;
    position: relative;
    margin: 5px 5px;
}
.main_content_gioithieu_item:hover{
    transform: translateY(-1px);
}
.main_content_gioithieu_item_text{
    font-size:20px;
    padding:15px;
    text-align: center;
    font-weight: 550
}
.main_content_gioithieu_bs{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 1200px;
    margin: 0 auto;
}
.main_content_gioithieu_bs img{
    width:220px;
    height:220px;
    border-radius:50%;
    display: block;
}
.main_content_gioithieu_bs_list{
    padding-top: 25px;

}
.main_content_gioithieu_list1.list2{
    border-bottom: 2px solid var(--border);
    padding-bottom: 50px;
}
.main_content_gioithieu_label{
    font-size:20px;
    color: var(--color);
    text-align: center;
}
.main_content_gioithieu_bs_item p{
    font-size:17px;
    text-align: center;
    margin-top:20px;
}

/* footer */
.footer{
    height:150px;
    border-top:3px solid var(--color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e6fefe;
  margin-top: auto;
}
.footer_address{
    font-size:17px;
    line-height: 30px;
    color: var(--text);
}
.footer-img{
    height:120px;
    width:250px;

}
/* yoyaku */
.yoyaku_main_img{
    margin: 50px auto;
    ;
}
.content-width{
    width: 1200px;
    margin: 0 auto;
}
.yoyaku_main_content_title{
    color:#663300 ;
    font-size: 2.5rem;
    padding-left: 50px;
    background-color:white;
    width: 100%;
    height:57px;
    line-height:50px;
    font-weight: 500;
    box-shadow: 0 1px 5px #663300;
    border-bottom: 7px solid var(--color);

    
}
.yoyaku_main_content-box-text{
    font-size: 1.7rem;
    line-height: 30px;
    padding: 10px 30px 0;
    color: var(--text);
    margin:20px 65px ;
    text-align: justify;
}

.yoyak_main_content_img_wraper{
    background-color: #00bac6;
    text-align: center;
    padding: 15px;
    margin-bottom: 50px;
}
.yoyaku_main_content-box-img a{
    display: inline-block;
    position: relative;
}
.yoyaku_main_content-box-img a:hover{
    transform: translateY(-2px);
}
.yoyak_main_content_img_wraper_title{
    font-size: 25px;
    color: #663300;
}
.yoyaku_main_content-box-img{
    margin-top: 20px;
    text-align: center;
}
/* address */
.addres_map_img{
    margin:30px 0;
}
.thoigianlv{
    margin: 30px 10px;
}
/* joho */
.main_joho{
    background-color: #efede8;
}
.main_joho_wraper{
    margin: 0 auto ;
    width: 1200px;
    padding: 0 40px;
    background-color:#fcf9fa;
}

.main_in_joho_label{
    font-size: 40px;
    font-weight: 530;
    color:var(--text);
    text-align: center;
    border-bottom:4px solid #f3d08f;
    line-height:40px;
    padding:30px 20px;
    background-color: white;
}
.main_in_joho_img{
    margin-top:40px;
    padding-bottom: 10px;
    display: flex;
    

}
.main_in_img-main{
    width:78%;
}
.main_in_img-main img{
width:100%;
}
.main_in_img-side{
    width: 22%;
    margin-left:20px;
}
.main_in_img-side img{
    height:181px;
    width:240px;
    margin-bottom: 10px;
}
.main_joho_text .text_title{
    font-size: 30px;
    color: var(--text);
    text-align: center;
}
.main_joho_text p{
    font-size: 17px;
    line-height: 32px;
    color: var(--text);
    padding-top:5px;
}
.main_in_joho_img_grid{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-auto-rows: 520px;
    grid-gap:30px ;
}
.main_in_joho_img_grid_item{
    box-shadow: 0 0 3px #663300;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background-color: white;
    color:var(--text);
}
.main_in_joho_img_grid_item:hover{
    top:-2px;
}
.main_in_joho_img_grid_item img{
    width: 100%;
}
.main_in_joho_img_grid_item p{
    font-size: 17px;
    line-height: 34px;
}
.joho_ifames{
    text-align: center;
    padding: 50px;
}
/* anani */
.annai_ifames{
    text-align: center;
}
.main_title{
    font-size: 40px;
    color: var(--text);
    font-style: italic;
    text-align: center;
    padding: 45px ;
}
.ifame-text{
    font-size: 17px;
    line-height: 34px;
    color: var(--text);
    margin:30px 0;
}
.ifame-text span{
    animation: text_transform 1s ;
    animation-iteration-count: infinite;
    font-size: 20px;
}
.main_annai{
    max-width: 1200px;
    margin: 0 auto;
}
.main_annai_img1{
    text-align: center;
}
/* https://www.0432558847.jp/clinic/first.html */
.main_annai_content{
    background: var(--color);
    padding: 15px 40px;
    font-size: 30px;
    color: var(--text);
    box-shadow: 0 0 3px var(--text);
    margin-top:60px;
}
.main_content_box{
    margin-top:50px;
}
.main_content_box_title{
    font-size: 30px;
    color: var(--text);
    padding-left:10px;
    padding-bottom:25px;
    border-bottom:2px solid var(--text);
}
.main_content_box_img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    margin-top:30px;
    margin-bottom:60px;
}
.main_content_box_img img{
    width: 100%;
}
.cangiua{
    text-align: center;
    margin-top:30px;
    margin-bottom:60px;
    font-size:20px;
    color: var(--text);
}
.cangiua p{
    padding: 20px 0;
    line-height: 30px;
    text-align: justify;
}
.primary-title{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    line-height: 1.4em;
    color: #0A0A0A;
    font-family: 'NotoSerifCJKjp-Bold';
    letter-spacing: 0px;
    text-align: center;
}
.primary-title .en{
color: #1F6BBF;
font-size: 25px;
font-family: 'Nothing You Could Do', cursive;
font-weight: 600;
transform: rotate(-5deg) translateY(4px);
line-height: 1.0em;
padding: 0 5px;
text-shadow: 0px 0px 8px var(--border),0px 0px 8px var(--text);
}